@import"../styles/link.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--text_color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.contrast-color {
  color: var(--contrast_color);
}

.text-color {
  color: var(--text_color);
}

.link-color {
  color: var(--link_color);
}

.attention-color {
  color: var(--attention_color);
}

:root {
  --background: #0f172a;
  --pointer_color: #1d4ed826;
  --contrast_color: #e2e8f0;
  --text_color: #8b9bbb;
  /*--text_color: #73819b;*/
  --link_color: #22D7B7; /* #29c393; */
  --attention_color: #e2e33e;
}
